@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/centurygothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/centurygothic_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
